.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  border: 2px dashed  #d8d8d8;
}

.about-container::before {
  content: '';
  position: absolute;
  width: 4px;
  height: calc(100% - 50px);
  background-color: #b8afafb7;
  top: 51px;
  left: 50%;
  transform: translateX(-40%);
}

.about-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.education-item {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.education-item:nth-child(even) {
  justify-content: flex-end;
}

.education-item-content {
  border: 2px dashed #e7e7e7;
  padding: 10px;
  max-width: 65%;
  font-size: 0.9rem;
  text-align: left;
  background-color: transparent;
  z-index: 9999;
  background: #ffffff;
}
