.home {
  padding: 120px;
  padding-top: 12rem;
  max-width: 100%;
  height: 54rem;
}

h1 .home-heading {
  font-size: 4rem;
  font-weight: bolder;
  
}
.home-heading {
  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 20px;
  width: 50%;
}
