.project-heading {
    padding-top: 4rem;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 20px;
    /* Spacing between grid items */
    padding: 20px;
    /* Optional padding for the container */
}

.project-card {
    background-color: #f8f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-title {
    font-size: 1.5rem;
    margin: 12px 0;
}

.project-description {
    font-size: 1rem;
    color: #555;
}

.tech-stack {
    margin: 12px 0;
}

.tech-item {
    background-color: #000000;
    color: white;
    padding: 4px 8px;
    margin-right: 8px;
    border-radius: 4px;
    display: inline-block;
}

.project-links .link {
    margin-right: 16px;
    color: #353a38;
    text-decoration: none;
    font-weight: bold;
}

.project-links .link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
        /* 1 column on very small screens */
    }
}